<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1017758355208-4hilfmfi4ri9vl7h5ibfi5o98p1r14fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1017758355208-4hilfmfi4ri9vl7h5ibfi5o98p1r14fi</string>
	<key>API_KEY</key>
	<string>AIzaSyCKV5Qawl3SeKNPe3CiNhTr3lVl4kCfbuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1017758355208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.etravelmatedriver</string>
	<key>PROJECT_ID</key>
	<string>etravelmatedriver-620fe</string>
	<key>STORAGE_BUCKET</key>
	<string>etravelmatedriver-620fe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1017758355208:ios:9cbcdd48a3a896a3b326bd</string>
</dict>
</plist>